In [1]:
import pandas as pd
import os
os.chdir('E:\\DA\\python\\实战资料\\cross学习小组')

1.用 pandas 读取 csv 格式文件，并将所有字段的重复数据去除

In [2]:
df=pd.read_csv('houses.csv',encoding='gbk').drop_duplicates()
df.head()

,Unnamed: 0,_id,title,price,up_price,xiaoqu_name,size,buildyear,huxing,chaoxiang,zhuangxiu,cenggao,louxing,district_name,sub_district_name
0,0,5dd2198f18bba2b4a9a0b854,大华电梯两房/房型正气/开门南北通/房东诚意出售,690.0,76531,大华锦绣华城(十六街区)(公寓),90.16,2010,2室2厅,南,简装,中楼层(共18层),板楼,浦东,北蔡
1,1,5dd2198f18bba2b4a9a0b855,非底楼 满五年唯一 税费少 婚房装修 楼称佳 户型方正,330.0,52290,芳雅苑,63.11,1995,2室1厅,南,精装,低楼层(共6层),板楼,浦东,北蔡
2,2,5dd2198f18bba2b4a9a0b856,满五唯一+7号线锦绣路+复式房+带阁楼+小区央位+精装,500.0,62878,锦博苑,79.52,2007,2室2厅,南,精装,高楼层(共6层),板楼,浦东,北蔡
3,3,5dd2198f18bba2b4a9a0b857,13号线陈春路地铁400米中间楼层诚意卖看房方便,330.0,45866,鹏海小区,71.95,1997,2室1厅,南,简装,中楼层(共6层),板楼,浦东,北蔡
4,4,5dd2198f18bba2b4a9a0b858,朝阳正气一房，采光好，坐看花园，户型方正，看房方便,460.0,83942,万邦都市花园,54.80,2004,1室1厅,南,简装,中楼层(共11层),板楼,浦东,北蔡

2.请统计出总房源数量、总小区数量、总版块数量

In [3]:
len(df['title'])

69654

In [4]:
len(df['xiaoqu_name'])

69654

In [5]:
len(df['sub_district_name'])

69654

3.请统计出有哪些不同的户型、有哪些不同的装修情况、有哪些不同的建造年份

In [6]:
df['huxing'].unique()

array(['2室2厅 ', '2室1厅 ', '1室1厅 ', '4室3厅 ', '3室1厅 ', '3室2厅 ', '4室2厅 ',
       '1室2厅 ', '2室0厅 ', '5室1厅 ', '1室0厅 ', '5室3厅 ', '5室2厅 ', '4室1厅 ',
       '4室4厅 ', '6室3厅 ', '5室6厅 ', '6室2厅 ', '5室4厅 ', '7室3厅 ', '3室3厅 ',
       '9室2厅 ', '7室2厅 ', '7室1厅 ', '6室4厅 ', '6室1厅 ', '8室4厅 ', '3室0厅 ',
       '7室4厅 ', '7室5厅 ', '4室5厅 ', '9室6厅 ', '9室4厅 ', '6室5厅 ', '10室1厅 ',
       '4室0厅 ', '8室1厅 ', '9室3厅 ', '9室9厅 ', '5室5厅 ', '8室3厅 ', '2室3厅 ',
       '7室6厅 ', '8室2厅 ', '0室0厅 ', '6室6厅 ', '10室6厅 ', '2室4厅 ', '6室0厅 ',
       '10室2厅 ', '7室0厅 ', '3室4厅 ', '8室5厅 ', '10室3厅 ', '5室0厅 ', '3室5厅 '],
      dtype=object)

In [7]:
df['zhuangxiu'].unique()

array([' 简装 ', ' 精装 ', ' 毛坯 ', ' 其他 '], dtype=object)

In [8]:
df['buildyear'].unique()

array([2010, 1995, 2007, 1997, 2004, 1994, 2011, 2012, 1998, 2013, 1999,
       2016, 2000, 2005, 1996, 2003, 2015, 2006, 2009, 1993, 2002, 2014,
       1992, 2008, 2001, 2019, 2018, 1987, 1991, 2017, 1989, 1988, 1982,
       1983, 1984, 1981, 1985, 1977, 1986, 1990, 1979, 1980, 1953, 1976,
       1958, 1978, 1969, 1974, 1975, 1955, 1971, 1954, 1956, 1959, 1968,
       1964, 1960, 1967, 1972, 1961, 1973, 1936, 1911, 1941, 1948, 1949,
       1939, 1933, 1940, 1946, 1937, 1910, 1945, 1957, 1965, 1966, 1970,
       1963, 1950, 1962, 1930, 1920, 1947, 1938, 1934, 1935, 1921, 1926,
       1912, 1924, 1928, 1931, 1943, 1900, 1952, 1951], dtype=int64)

4.请计算出上海二手房每平方米均价

In [9]:
df['up_price'].mean()

55051.4809056192

5.请统计出不同户型对应的房源数量、平均面积；并从大到小进行排序，判断出主流户型是什么？平均面积多大？

In [10]:
df_g=df.groupby('huxing')[['title','size']].agg(['count','mean']).reset_index()
df_g.columns=['户型','房源数量','平均面积']
df_g=df_g.sort_values(by='房源数量',ascending=False)
df_g

        户型   房源数量         平均面积
9    2室1厅   17364    66.915066
10   2室2厅   12990    93.016552
15   3室2厅   12618   129.362787
6    1室1厅   12103    46.955651
21   4室2厅    3613   208.867312
14   3室1厅    3451    91.561336
5    1室0厅    1914    36.206541
8    2室0厅    1369    49.615223
7    1室2厅    1192    67.410990
27   5室2厅     855   286.614175
28   5室3厅     584   360.780565
22   4室3厅     566   272.177951
35   6室3厅     181   395.391215
34   6室2厅     147   289.408435
20   4室1厅     145   154.547586
16   3室3厅     134   175.504030
13   3室0厅     107    68.571869
29   5室4厅      51   403.056667
36   6室4厅      49   516.186122
42   7室3厅      36   461.077222
26   5室1厅      32   225.869375
41   7室2厅      30   310.042667
23   4室4厅      21   265.587143
33   6室1厅      11   170.230909
43   7室4厅       9   535.334444
47   8室2厅       9   366.875556
11   2室3厅       8   118.597500
37   6室5厅       7   669.482857
48   8室3厅       6   474.710000
44   7室5厅       5   532.396000
49   8室4厅       5   622.384000
51   9室2厅       4   757.650000
0    0室0厅       4   237.622500
53   9室4厅       3   409.463333
19   4室0厅       3   192.590000
31   5室6厅       3   344.720000
32   6室0厅       2   504.425000
30   5室5厅       2   334.585000
54   9室6厅       2   473.775000
40   7室1厅       2   177.200000
45   7室6厅       2   406.005000
12   2室4厅       1   129.400000
52   9室3厅       1   593.010000
2   10室2厅       1   370.000000
50   8室5厅       1  1663.100000
3   10室3厅       1   598.320000
4   10室6厅       1   473.610000
17   3室4厅       1    94.370000
46   8室1厅       1   386.170000
18   3室5厅       1   376.210000
24   4室5厅       1   321.000000
39   7室0厅       1   161.440000
38   6室6厅       1  1440.160000
25   5室0厅       1    89.600000
1   10室1厅       1   544.990000
55   9室9厅       1  1352.240000

In [11]:
print('主流户型是：',df_g.iloc[0,0],'，平均面积：',df_g.iloc[0,2])

主流户型是： 2室1厅  ，平均面积： 66.91506565307506

6.获取每个小区的房源数量，并按从大到小的顺序排序

In [12]:
df.groupby('xiaoqu_name')['title'].count().reset_index().sort_values(by='title',ascending=False)

     xiaoqu_name  title
272        上海康城     216
2055     同润菲诗艾伦     117
773       中远两湾城     114
6381   美岸栖庭(公寓)     106
7256   金地艺境(宝山)     106
...          ...    ...
6674    莘西路122弄       1
6672    莘浜路285弄       1
6671    莘浜路217弄       1
6670    莘浜路157弄       1
4729       止园小区       1

[8333 rows x 2 columns]

7.请统计出上海每个小区每平方米的均价

In [13]:
#df.groupby('xiaoqu_name')['up_price'].mean()
df.pivot_table(index=['xiaoqu_name'],values=['up_price'])

                   up_price
xiaoqu_name
MAX未来          31574.105263
VIP大厦          70574.000000
一品名人居          76460.166667
一品新筑苑          65559.700000
一品漫城(一期)(公寓)   55750.400000
...                     ...
龙阳小区           65840.666667
龙阳花苑           72077.800000
龚华公寓           33396.250000
龚华新村           34649.312500
龚路新城           33937.764706

[8333 rows x 1 columns]

8.请统计出上海二手房总价排在前 5 位的房源，看看超级豪宅有多壕？

In [14]:
df.sort_values(by='price',ascending=False).head()

,Unnamed: 0,_id,title,price,up_price,xiaoqu_name,size,buildyear,huxing,chaoxiang,zhuangxiu,cenggao,louxing,district_name,sub_district_name
46396,48887,5dd22309303c5558c090e6d9,花园18亩 开门见3座山 背面靠山 南东2面临天然大河,35000.0,191890,世茂佘山庄园,1823.97,2008,6室3厅,南,毛坯,2层,板楼,松江,佘山
46451,48943,5dd22309303c5558c090e711,仟万精装、华庭岛屿大独栋！5亩占地、自住！价格可谈,30000.0,189672,佘山高尔夫郡,1581.68,2009,6室3厅,南 北,精装,2层,板楼,松江,佘山
18891,19869,5dd21bf518bba2b4a9a1061f,罕见！占地10亩庄园，整个园区的King！让上海都在仰望,30000.0,156613,绿城玫瑰园,1915.56,2013,6室4厅,南,毛坯,2层,板楼,闵行,马桥
28332,29721,5dd21d0718bba2b4a9a12cb3,安福路/常熟路 沿街独幢花园洋房，英式风格 地价已补,24999.0,527406,常熟路182号,474.00,1937,6室3厅,南,精装,低楼层(共3层),板塔结合,徐汇,衡山路
18875,19853,5dd21bf418bba2b4a9a1060f,（岛宅主推）占地8亩上产证 两面邻水靠大河 景观位置,21000.0,128214,绿城玫瑰园,1637.89,2014,6室4厅,南,毛坯,2层,板楼,闵行,马桥

9.请计算出不同年代的房子数量（10年一个区间）

In [15]:
df_year=df.groupby('buildyear')['title'].count().reset_index().set_index('buildyear')
df_year.index=pd.to_datetime(df_year.index,format='%Y')
#df_year.groupby(pd.Grouper(freq='10A')).sum()
df_year.resample('10A').sum()

            title
buildyear
1900-12-31      1
1910-12-31      1
1920-12-31      7
1930-12-31     36
1940-12-31    112
1950-12-31     40
1960-12-31    425
1970-12-31    234
1980-12-31   1282
1990-12-31   8536
2000-12-31  23747
2010-12-31  25136
2020-12-31  10097